$primary-color: #5900ff;
$primary-dark-color: #4f1c92;
$text-color: rgba(29, 29, 29, 0.92);
$secondary-text-color: rgba(56, 56, 56, 0.87);
$light-text-color: #f2f2f7;
$highlight-text-color: #8036bd;
$primary-background-color: #f2f2f7;
$secondary-background-color: #efeff5;
$tertiary-background-color: #f5f5fa;
$input-background-color: #dedeeb;
$divider-background-color: #e1e6eb;
$button-text-color: #eeeeee;
